<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHeartbeat" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/HeartbeatService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHeartbeat" contract="Heartbeat.IHeartbeat"
                name="WSHttpBinding_IHeartbeat">
                <identity>
                    <userPrincipalName value="DESKTOP-3FOME7N\Craig Cabrey" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>